/* ==========================================================================
   General styles
   ========================================================================== */

body, html {
  font-size: 14px;
  color: #333;
}


/* ==========================================================================
   Main header
   ========================================================================== */
.main-header h1 {
  text-align: center;
  color: #2199e8;
}

@import "calculator";
