/* ==========================================================================
   Global variables
   ========================================================================== */
$red: rgb(213, 17, 10);
$gray: rgb(247,247,247);
$dark-blue: #040743;


$font-color: #333;
$link-color: $red;

$day-font-color: rgb(171, 175, 175);


