/* ==========================================================================
   Global variables
   ========================================================================== */
$red: rgb(250,80,81);
$gray: rgb(247,247,247);

$font-color: #333;
$link-color: $red;

$day-font-color: rgb(171, 175, 175);


